{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": [
    "inline-react-svg",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": false,
            "displayName": false
          }
        ]
      ]
    }
  }
}
